@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.color {
  background: linear-gradient(rgba(55, 58, 116, 0.84), rgba(33, 80, 153, 0.87));
}

.text-color {
  color: #cdcfd2;
}

.wrapper {
  flex-grow: 1;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.active {
  background: rgba(48, 69, 95, 0.8);
  border-radius: 0.25rem;
}

.nav-item {
  border: 1px solid transparent;

  :hover {

    border-radius: 0.25rem;
    background: rgba(98, 111, 132, 0.78);
  }


}
